@tailwind base;
@tailwind components;
@tailwind utilities;

  .input {
    @apply w-full rounded-lg border border-slate-300 px-3 py-2 text-sm
           focus:outline-none focus:ring-2 focus:ring-yellow-400;
  }



@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }

  h1 {
    @apply text-xl font-semibold tracking-tight;
  }

  h2 {
    @apply text-lg font-semibold tracking-tight;
  }

  h3 {
    @apply text-base font-semibold;
  }

  p {
    @apply text-sm text-slate-600;
  }

  .input {
    @apply w-full rounded-lg border border-slate-300 px-3 py-2 text-sm
           focus:outline-none focus:ring-2 focus:ring-yellow-400;
  }
}
